<div class="container" role="main">
  <div class="search">
      <h1 class="search-title">
        <img class="title-img" src="assets/img/icono_usuarios.svg" alt="">

        <span id="title">Usuarios</span>
      </h1>

      <div class="search-form" (click)="onClick()">
        <input id="search" class="form-input" placeholder="Buscar" on-focusout="focusOut()">

        <img class="input-img" src="assets/img/icono_buscar.svg" alt="Buscar">
      </div>
  </div>

  <div class="users">
    <div class="card" *ngFor="let user of users">
      <div class="card-header">
        <h2 class="header-title">{{ user.first_name }} {{ user.last_name }}</h2>

        <img class="header-img" src="./assets/img/icono_editar.svg" alt="Editar">
      </div>

      <div class="card-body">
        <img
          class="card-img"
          [ngClass]="user.gender == 'm' ? 'hombre' : 'mujer'"
          [src]="getImage(user.gender)"
          alt="{{ user.first_name }} {{ user.last_name }}"
        >

        <div class="card-text">
          <p class="text-city">{{ user.location }}</p>
          <p class="text-phone">{{ user.phone_number }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
