:root {
  --blue: #2b79c9;
  --deep-blue: #3a44f0;
  --gray: #dfdada;
  --green: #3eb084;
  --orange: #eeaf0b;
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url("../fonts/Poppins-Bold.otf") format("opentype");
}

body {
  font-family: Poppins;
}

nav {
  background-color: var(--blue);
  width: 100%;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  margin: 0 auto;
  max-width: 1150px;
}

.navbar-brand {
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
}

.navbar-btn {
  align-items: center;
  background-color: white;
  border: 0;
  border-radius: 0.3rem;
  color: var(--blue);
  cursor: pointer;
  display: flex;
  font-size: 0.7rem;
  font-weight: 900;
  padding: 0.5rem 0.6rem;
}

.btn-img {
  margin-left: 0.3rem;
  width: 0.7rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1150px;
}

.search {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: space-between;
}

.search-title {
 font-size: 0.9rem;
}

.title-img {
  margin-right: 0.5rem;
  width: 1.5rem;
}

.search-form {
  background-color: var(--gray);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.form-input {
  background-color: var(--gray);
  border: none;
  width: 15rem;
}

.form-input::placeholder {
  color: black;
  font-weight: 900;
}

.form-input:focus {
  outline: none;
}

.input-img {
  width: 0.8rem;
}

.users {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);;
  grid-template-rows: auto;
}

.card {
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 0.5rem;
}

.card-header {
  align-items: center;
  background-color: var(--blue);
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}

.header-title {
  color: white;
  font-size: 0.9rem;
}

.header-img {
  background-color: var(--deep-blue);
  border-radius: 0.2rem;
  padding: 0.2rem;
  width: 0.9rem;
}

.card-body {
 display: flex;
 padding: 1rem;
 background-color: white;
 border-radius: 0 0 0.5rem 0.5rem;
}

.card-img {
  border-radius: 0.3rem;
  margin-right: 1rem;
  padding: 0.3rem 0.5rem;
  width: 3rem;
}

.hombre {
  background-color: var(--green);
}

.mujer {
  background-color: var(--orange);
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-city {
  margin-bottom: 0.5rem;
}

.text-phone {

}
